@{
    ViewData["Title"] = "Detalle Jugador";
}

<div>
    <h1>@ViewBag.DetalleJugador.Nombre</h1>
    <div class="row">
        <div class="col-7">
            <img class="tamanoImg" src="/imagenes/@ViewBag.DetalleJugador.Foto">
        </div>
    </div>
    <h1>Nombre: @ViewBag.DetalleJugador.Nombre</h1>
    <h2>Fecha de Nacimiento: @ViewBag.DetalleJugador.FechaDeNacimiento</h2>
</div>


