html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.card-image-equipo  {height:115px; width:auto; margin: 0 auto; display:block;}
.card-image-equipo:hover {opacity:0.7;}

.tamanoImg{
  height: 300px;
  width: auto;
}